
button {
    position: relative;
    width: 80%;
    height: 40px;
    background: #df0c9f;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    top: 2%;
    outline: none;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px ;
    padding: 10px;
    


}

.labelStyle {
    background-color: mediumturquoise;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}
 label {
    top: 30%;
    left: 5px;
    transform: translateY(-50%);
}
input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: black;
    padding: 0px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
}
body {
    height: fit-content;
    background-color: #df0c9f;
    background-color: palevioletred;
    color: black;
}
form {
    margin-top: 50px;
    width: 400px;
    height: 500px;
    background:transparent;
    border-radius: 20px;
    border: #94a3b8 5px;
    border-style: solid;
    box-shadow: 0 0 50px rgba(0, 0, 0,.1);
    align-items: center;
}
h3 {
    margin-top: 15%;
    color:black;
    font-size: 30px;
    text-align: center;
    background: #df0c9f;
    width: 50%;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}
h2 {
    margin-top: 10%;
    color:#e16be1;
    font-size: 15px;
    text-align: center;
}
.forgot:link {
    font-size: 20px;
    font-style: none;
}

.forgot:hover {
    font-size: 20px;
    color: antiquewhite;
    background-color: black;
}   

.forgot:visited {
    font-size: 20px;
    font-style: none;
}

.forgot:active {
    font-size: 15px;
    color: antiquewhite;
    font-style: none;
}
.btn:hover {
    font-size: 20px;
    color: antiquewhite;
    background-color: black;
}

.btn:visited {
    font-size: 15px;
    color: antiquewhite;
    font-style: none;
}

.btn:active {
    font-size: 20px;
    color: antiquewhite;
    font-style: none;
}
.group {
    display: flex;
    line-height: 30px;
    align-items: center;
    position: relative;
    max-width: 200px;
  }
  
  .input::placeholder {
    color: #94a3b8;
  }
  
  .input:focus, input:hover {
    outline: none;
    border-color: rgba(129, 140, 248);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
  }
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: none;
    width: 1rem;
    height: 1rem;
  }
  